<!doctype html>
<html lang="en" xmlns:th="/https://www.thymeleaf.org">

<head>
    <title>Group</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}"/>
    <!--Test CSS-->
    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css"/>
</head>

<body>
<div class="container">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mt-1">
            <span class="navbar-text d-md-none">
                Groups
            </span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-item nav-link" href="/index">Users
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="/groups/groups">Groups</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="/users/new">Add user</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="/groups/new">Add group</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="row mt-2">
        <div class="col-md-8">
            <div class="card text-center text-white bg-secondary">
                <h5 class="card-header">Group details</h5>
                <h6 th:text="${group.name}">name</h6>
                <div class="card-body">
                    <table class="table table-striped table-hover">
                        <thead>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${group.users}">
                            <td th:text="${user.id}" scope="row">1</td>
                            <td th:text="${user.firstName}">Alicja</td>
                            <td th:text="${user.lastName}">Nowak</td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center text-white bg-secondary ">
                <h5 class="card-header">Options</h5>
                <div class="card-body">
                    <a class="btn btn-warning" th:href="@{'/groups/update/'+${group.id}}"
                       style="padding-left: 10px; padding-right: 35px;">Edit</a>
                    <a th:href="@{'/groups/delete/'+${group.id}}" class="btn btn-danger">Detlete</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>