<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>User</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}"/>
    <!--Test CSS-->
    <link rel="stylesheet" type="text/css" href="../../static/css/stylesheet.css"/>

</head>

<body>
<div class="container">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mt-1">
            <span class="navbar-text d-md-none">
                User form
            </span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-item nav-link" href="/index">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="/groups/groups">Groups</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-item nav-link" href="/users/new">Add user
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="/groups/new">Add group</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="row mt-2">
        <div class="col-md-8">
            <div class="card text-white bg-secondary">
                <h5 class="card-header text-center">User detiles</h5>
                <div class="card-body">
                    <form th:object="${user}" th:action="@{/user/}" method="post">
                        <input type="hidden" th:field="*{id}"/>
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label>First name</label>
                                    <input type="text" class="form-control" placeholder="Write first name"
                                           th:field="*{firstName}">
                                </div>
                            </div>
                            <div class="col-sm">
                                <label>Last name</label>
                                <input type="text" class="form-control" placeholder="Write last name "
                                       th:field="*{lastName}">
                            </div>
                            <div class="col-lg-4 ">
                                <label>Date of birth</label>
                                <input type="date" class="form-control" placeholder="Write first name "
                                       th:field="*{dateOfBirth}">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <div class="form-group">
                                    <label>Your nick</label>
                                    <input type="text" class="form-control" placeholder="Write nick" th:field="*{nick}">
                                </div>
                            </div>
                            <div class="col">
                                <label>Password</label>
                                <input type="password" class="form-control" placeholder="Password"
                                       th:field="*{password}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 offset-md-3 form-check" th:each=" group : ${groups}">
                                <div  th:if="${user.id}">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox"
                                               th:checked="${entity.containGroup(group)}" th:text="${group.name}"
                                               th:value="${group.id}" name="groupsId">
                                    </label>
                                </div>
                                <div th:unless="${user.id}">
                                    <label class="form-check-label" >
                                        <input class="form-check-input" type="checkbox"
                                               th:text="${group.name}"
                                               th:value="${group.id}" name="groupsId">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <button type="submit" class="btn btn-primary ">Sumbit</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="card text-center text-white bg-secondary ">
                <h5 class="card-header ">Options</h5>
                <div class="card-body ">
                    <a th:if="${user.id}" href="#" th:href="@{'/users/show/'+${user.id}}" class="btn btn-danger ">Cancel</a>
                    <a th:unless="${user.id}" href="#" th:href="@{'/'}" class="btn btn-danger ">Cancel</a>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>

