<!doctype html>
<html lang="en" xmlns:th="/https://www.thymeleaf.org">

<head>
    <title>Users</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}"/>
    <!--Test CSS-->
    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css"/>

</head>

<body>
<div class="container">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mt-1">
            <span class="navbar-text d-md-none">
                Users List
            </span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-item nav-link" href="/index">Users
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="/groups/groups">Groups</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="/users/new">Add user</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="/groups/new">Add group</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="row">
        <div class="col-12 mt-2">
            <div class="table-responsive-md">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Nick name</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>View</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.nick}" scope="row">Nick</td>
                        <td th:text="${user.firstName}">Simon</td>
                        <td th:text="${user.lastName}">Kulinski</td>
                        <td>
                            <a href="#" th:href="@{'/users/show/'+${user.id}}" class="btn btn-outline-info btn-sm">
                                View
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-outline-danger btn-sm" th:href="@{'/users/delete/'+${user.id}}">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>